.cat-card {
    position: relative;

    &--shake {
        animation: shake 0.3s infinite;
    }

    &__content {
        text-align: center;

        button {
            width: 100%;
        }
    }

    &__delete {
        position: absolute;
        right: -12px;
        top: -12px;
    }
}

@keyframes shake {
    50% {
        transform: rotate(0.3deg);
    }

    100% {
        transform: rotate(-0.3deg);
    }
}